 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I'm a creative problem solver with a background in marketing,
                      music-composition, and project-management. As a new web-developer I am
                      tackling one challenge at a time, adapting to new technologies, and
                      exchanging new personal discoveries with other developers in the community.
                      Feel free to take a look at my recent projects, visit my GitHub Repo, and contact me
                      with any feedback or questions!.</p>
                </div>
                <!-- <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <a href="#" class="btn btn-lg btn-outline"> -->
                        <!-- <i class="fa fa-download"></i> Download Theme -->
                    </a>
                </div>
            </div>
        </div>
    </section>
